{% extends 'base.html.twig' %}

{% block title %}Ajout d'éditeur{% endblock %}

{% block body %}
    <div class="example-wrapper py-5">
        <h1>Ajout d'éditeur</h1>
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}